<link rel="import" href="/bower_components/polymer/polymer.html">
<script src="/bower_components/momentjs/moment.js"></script>

<polymer-element name="check-in-detail" attributes="checkIn">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>
        <core-image src="{{checkIn.imageUrl}}"></core-image>
        <core-label>{{checkIn.placeName}}</core-label>
        <core-label>{{checkIn.date}}</core-label>
        <core-label>{{checkIn.country}}</core-label>
        <core-label>{{checkIn.website}}</core-label>
    </template>
    <script>
        'use strict';

        Polymer('check-in-detail', {
            checkIn: {}
        });
    </script>
</polymer-element>
