<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/core-scaffold/core-scaffold.html">
<link rel="import" href="/bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="/bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="/bower_components/core-menu/core-menu.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">
<link rel="import" href="/bower_components/core-icon/core-icon.html">
<link rel="import" href="/bower_components/core-animated-pages/core-animated-pages.html">
<link rel="import" href="/bower_components/core-image/core-image.html">

<polymer-element name="onesquare-app">
    <template>
        <style>
            :host {
                height: 100%;
                display: block;
            }

            core-animated-pages {
                height: 100%;
            }

            .view-navigator > .view {
                padding: 1em;
            }
        </style>
        <check-in-list items="{{items}}"></check-in-list>
        <core-animated-pages layout vertical>
            <!-- NOTE: `@view` tags annotate a element as a view. They are for clarification purpose only. They don't mean anything to Polymer nor are required by it. -->
            <!-- @view Splash screen -->
            <section class="view splash-view" layout vertical center-center>
                <core-image src="/images/logo.png"></core-image>
            </section>
            <core-scaffold>
                <core-header-panel navigation flex>
                    <core-toolbar>Menu</core-toolbar>
                    <core-menu>
                        <paper-item noink>
                            <core-icon icon="add"></core-icon>
                            <a href="#add-checkin">Add check-in</a>
                        </paper-item>
                        <paper-item noink>
                            <core-icon icon="bookmark"></core-icon>
                            <a href="#checkin-reminders">Check-in reminders</a>
                        </paper-item>
                        <paper-item noink>
                            <core-icon icon="close"></core-icon>
                            <a href="#exit">Exit</a>
                        </paper-item>
                    </core-menu>
                </core-header-panel>
                <span tool>Check-in list</span>
                <core-animated-pages class="view-navigator">
                    <!-- @view Check in list screen -->
                    <section class="view checkin-list-view" layout vertical>
                        <template if="{{items.length === 0}}">
                            <h3>There are no items in this list.</h3>
                            <p>To add one, please click the top-right menu.</p>
                        </template>
                        <template repeat="{{ci in items}}" if="{{items}}">
                            <check-in checkIn="{{ci}}"></check-in>
                        </template>
                    </section>
                    <!-- @view Check in details screen -->
                    <section class="view checkin-detail-view" layout horizontal>
                    </section>
                    <!-- @view Add check in screen -->
                    <section class="view add-checkin-view" layout horizontal>
                    </section>
                </core-animated-pages>
            </core-scaffold>
        </core-animated-pages>
    </template>
    <script>
        'use strict';

        Polymer('onesquare-app', {
            items: []
        });
    </script>
</polymer-element>
