<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/core-scaffold/core-scaffold.html">
<link rel="import" href="/bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="/bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="/bower_components/core-menu/core-menu.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">
<link rel="import" href="/bower_components/core-icon/core-icon.html">
<link rel="import" href="/bower_components/core-animated-pages/core-animated-pages.html">
<link rel="import" href="/bower_components/core-animated-pages/transitions/slide-from-right.html">
<link rel="import" href="/bower_components/core-image/core-image.html">
<link rel="import" href="/bower_components/core-item/core-item.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="/bower_components/ajax-form/ajax-form.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/bower_components/paper-dropdown/paper-dropdown.html">
<link rel="import" href="/bower_components/core-dropdown-menu/core-dropdown-menu.html">
<link rel="import" href="/bower_components/core-dropdown/core-dropdown.html">
<link rel="import" href="/bower_components/core-selector/core-selector.html">

<polymer-element name="onesquare-app">
    <template>
        <style>
            :host {
                height: 100%;
                display: block;
            }

            core-animated-pages {
                height: 100%;
            }

            .view-navigator > .view {
                padding: 1em;
            }


        </style>
        <check-in-list items="{{items}}"></check-in-list>
        <core-animated-pages  id="splashScreenNavigator" layout vertical transitions="slide-from-right">
            <!-- NOTE: `@view` tags annotate a element as a view. They are for clarification purpose only. They don't mean anything to Polymer nor are required by it. -->
            <!-- @view Splash screen -->
            <section class="view splash-view" layout vertical center-center>
                <core-image src="/images/logo.png"></core-image>
            </section>
            <core-scaffold layout vertical flex>
                <core-header-panel navigation flex>
                    <core-toolbar>Menu</core-toolbar>
                    <core-menu valueattr="navigate-to" selected="{{activeView}}">
                        <core-item navigate-to="addCheckInView" label="Add check-in" icon="add"></core-item>
                        <core-item navigate-to="addCheckInReminderView" label="Add check-in reminder" icon="bookmark"></core-item>
                        <core-item id="closeButton" label="Exit" icon="close" on-tab="{{exit}}"></core-item>
                </core-header-panel>
                <span tool>Check-in list</span>
                <core-animated-pages id="viewNavigator" class="view-navigator" selected="{{activeView}}" transitions="slide-from-right">
                    <!-- @view Check in list screen -->
                    <section name="checkInListView" class="view checkin-list-view" layout vertical>
                        <template if="{{items.length === 0}}">
                            <h3>There are no items in this list.</h3>
                            <p>To add one, please click the top-right menu.</p>
                        </template>
                        <template repeat="{{ci in items}}" if="{{items}}">
                            <check-in checkIn="{{ci}}"></check-in>
                        </template>
                    </section>
                    <!-- @view Check in details screen -->
                    <section name="checkInDetailView" class="view checkin-detail-view" layout horizontal flex>
                    </section>
                    <!-- @view Add check in screen -->
                    <section name="addCheckInView" class="view add-checkin-view" layout horizontal flex>
                        <ajax-form id="addCheckInForm" flex>
                            <fieldset layout vertical>
                                <legend>Add check-in</legend>
                                <paper-input label="Date" id="date" flex></paper-input>
                                <paper-dropdown-menu id= "country" label="Choose a country">
                                    <paper-dropdown class="dropdown">
                                        <core-menu class="menu">
                                            <paper-item>Dominican Republic</paper-item>
                                            <paper-item>United States</paper-item>
                                            <paper-item>France</paper-item>
                                            <paper-item>Russia</paper-item>
                                        </core-menu>
                                </paper-dropdown-menu>
                                <paper-input label="Place" id="place"flex></paper-input>
                                <paper-input label="Establishment" id="establishment"flex></paper-input>
                                <paper-input label="Web site" id="website" flex></paper-input>
                                <paper-input label="Photo URL" id="weburl" flex></paper-input>
                                <div flex>
                                    <label>Remember me?</label>
                                    <paper-checkbox></paper-checkbox>
                                </div>
                                <div layout horizontal justified flex>
                                    <paper-button id="clearButton" on-tab="clear" >Clear</paper-button>
                                    <paper-button id="submitButton" on-tab="validate">Submit</paper-button>
                                </div>
                            </fieldset>
                        </ajax-form>
                    </section>
                </core-animated-pages>
            </core-scaffold>
        </core-animated-pages>
    </template>
    <script>
        'use strict';

        // NOTE: Change this flag to have the splashscreen shown.
        var ENV = 'prod';

        Polymer('onesquare-app', {
            items: [],
            activeView: 'checkInListView',
            `
           validate: function() {

            if (this.$.date.value != " "){
                alert("Please complete all fields");
            }
            else
                if (this.$.country.value != " ") {
                    alert("Please complete all fields");
             }
            else
                if (this.$.place.value !=" ") {
                     alert("Please complete all fields");
             }
            else
                if (this.$.establishment.value != " ") {
                    alert("Please complete all fields");
            }
            else
                if (this.$.website.value != " ") {
                    alert("Please complete all fields");
            }
            else
                if (this.$.weburl.value != " ") {
                    alert("Please complete all fields");
            }

           },

           clean: function(){

                this.$.date.value === " ";
                this.$.country.value === " ";
                this.$.place.value ===" ";
                this.$.establishment.value === " ";
                this.$.website.value === " ";
                this.$.weburl.value === " ";
            } 
           }

            exit: function () {
                // Check if running on phonegap
                if (navigator.app) {
                    navigator.app.exitApp();
                }
            }

        });
    </script>
</polymer-element>
