<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/core-scaffold/core-scaffold.html">
<link rel="import" href="/bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="/bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="/bower_components/core-menu/core-menu.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">
<link rel="import" href="/bower_components/core-icon/core-icon.html">
<link rel="import" href="/bower_components/core-animated-pages/core-animated-pages.html">

<polymer-element name="onesquare-app">
    <template>
        <style>
            :host {
                height: 100%;
                display: block;
            }

            core-animated-pages {
                height: 100%;
            }
        </style>
        <core-animated-pages layout vertical>
            <!-- NOTE: `@view` tags annotate a element as a view. They are for clarification purpose only. They don't mean anything to Polymer nor are required by it. -->
            <!-- @view Splash screen -->
            <section class="view splash-view" layout vertical center-center>
                <core-image src="/images/logo.png"></core-image>
            </section>
            <!-- @view Check in list screen -->
            <section class="view checkin-list-view" layout horizontal>
            </section>
            <!-- @view Check in details screen -->
            <section class="view checkin-detail-view" layout horizontal>
            </section>
            <!-- @view Add check in screen -->
            <section class="view add-checkin-view" layout horizontal>
            </section>
        </core-animated-pages>
        <!-- <core&#45;scaffold> -->
        <!--     <core&#45;header&#45;panel navigation flex> -->
        <!--         <core&#45;toolbar>Menu</core&#45;toolbar> -->
        <!--         <core&#45;menu> -->
        <!--             <paper&#45;item noink> -->
        <!--                 <core&#45;icon icon="add"></core&#45;icon> -->
        <!--                 <a href="#add&#45;checkin">Add check&#45;in</a> -->
        <!--             </paper&#45;item> -->
        <!--             <paper&#45;item noink> -->
        <!--                 <core&#45;icon icon="bookmark"></core&#45;icon> -->
        <!--                 <a href="#checkin&#45;reminders">Check&#45;in reminders</a> -->
        <!--             </paper&#45;item> -->
        <!--             <paper&#45;item noink> -->
        <!--                 <core&#45;icon icon="close"></core&#45;icon> -->
        <!--                 <a href="#exit">Exit</a> -->
        <!--             </paper&#45;item> -->
        <!--         </core&#45;menu> -->
        <!--     </core&#45;header&#45;panel> -->
        <!--     <span tool>Check&#45;in list</span> -->
        <!-- </core&#45;scaffold> -->
    </template>
    <script>
        'use strict';

        Polymer('onesquare-app', {});
    </script>
</polymer-element>
